  header{
    display: flex;
    justify-content: space-between;
    background-color:black ;
    color: white;
    align-items: center;
  }
  nav ul{
    display: flex;
  
  }
  nav ul li{
    margin-left: 20px; 
    list-style: none;
  }
  .hero{
    text-align: center;
  }
  img{
    width: 100%;
    height: auto;
  }
  .grid{
    display: flex;
    justify-content: center;
  }
  
  .card{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-direction: row;
    background-color: rgb(169, 84, 61);
    padding: 10px;
    width: 38%;
    margin: 5px;
  }
@media (max-width: 768px) {

  header {
    flex-direction: column;
    text-align: center;
  }

nav ul {
    flex-direction: column; 
    align-items: center;
    gap: 10px;
    padding: 0;
  }

nav ul li {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .grid{
    flex-direction: column;
  }
  .card{

    width: 95%;}
  }
